__pycache__/test_parameters.cpython-39-pytest-5.4.3.pyc
__pycache__/test_parser_ne.cpython-39-pytest-5.4.3.pyc
__pycache__/test_parser.cpython-39-pytest-5.4.3.pyc
math_json_parser/__pycache__/parser_polars.cpython-39.pyc
math_json_parser/__pycache__/parser_numexpr.cpython-39.pyc
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_parser_ne.cpython-39-pytest-5.4.3.pyc
tests/__pycache__/test_parser_pl.cpython-39-pytest-5.4.3.pyc
tests/__pycache__/test_parser.cpython-39-pytest-5.4.3.pyc
math_json_parser/__pycache__/parser_numexpr.cpython-39.pyc
math_json_parser/__pycache__/parser_polars.cpython-39.pyc
math_json_parser/__pycache__/parser_numexpr.cpython-39.pyc
math_json_parser/__pycache__/parser_polars.cpython-39.pyc
